/* #main {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 100%;
    height: 100%;
    background-color: blue;
} */

#img_canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
}
#img_canvas_overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#rejects_toggle {
  background-color: red;
}

div.result {
    background-color: green;
    color: lightblue;
    font-size: 30px;
    transition: all .2s ease-in-out;
}

div.result:hover {
    background-color: yellow;
    /* transform: scale(1.1); */
}

div.reject {
  background-color: red;
  color: lightblue;
  font-size: 30px;
  transition: all .2s ease-in-out;
}

div.reject:hover {
  background-color: blue;
  /* transform: scale(1.1); */
}
.column {
    display: flex;
    flex-direction: column;
    /* float: left; */
  }

  #pics {
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    position: absolute;
  }
/*
  #pics.column {
    width: 75%;
    height: 100%;
    overflow: scroll;
  } */

  #parttext.column {
    overflow: scroll;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    position: absolute;
  }

/* .drawcanvas_h {
  width: 100%;
    height: 100%;
   display: none;
}
.drawcanvas_v {
  width: 50%;
    height: 200%;
   display: none;
} */